/*
dark #282c37
rgb(40,44,55)

gray #9baec8
rgb(155,174,200)

light gray #d9e1e8
rgb(217,225,232)

blue #2b90d9
rgb(43,144,217)
*/


body {
  box-sizing: border-box;
  background-image: radial-gradient(center bottom, ellipse cover, #9baec8, #282c37);
  background-image: -o-radial-gradient(center bottom, ellipse cover, #9baec8, #282c37);
  background-image: -ms-radial-gradient(center bottom, ellipse cover, #9baec8, #282c37);
  background-image: -moz-radial-gradient(center bottom, ellipse cover, #9baec8, #282c37);
  background-image: -webkit-radial-gradient(center bottom, ellipse cover, #9baec8, #282c37);
}

img:hover {
    opacity: .5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

nav .nav-wrapper{
  background-color: #282c37;
  padding-left: 20px;

}

nav .brand-logo {
  color: #2b90d9;
}

.container{
  height: 93vh;
}

.welcome{
  margin: 0 auto;
  padding: 80px 120px;
  background-color: rgba(40,44,55, .4);
  box-shadow: 3px;
}

.icon{
  height: 60px;
}

.posters{
  margin: 10px, 5px;
}

.collapsible-header {
  background-color: #9baec8;
}

.collapsible-body{
  max-height: 75vh;
  margin: 0 20px;
}

.lookup, input[type=text]{
  width: 50%;
  border-bottom: 1px solid rgb(155,174,200);
  color: rgb(217,225,232);
}

.input-field input[type=text]:focus {
     border-bottom: rgb(43,144,217);
     box-shadow: 0 1px 0 0 #000;
   }
