<h1><a href="/#/shows">Show Stoppr</a></h1>
<h2><a href="/#/profile">Profile</a></h2>




<div class="container-fluid outerdiv">

  <div class="animated zoomInRight">
    <div class="input-group search-bar">
        <input type="text" ng-model="search" ng-model-options="{ debounce: 800 }" class="form-control" placeholder="Enter full show name" autofocus />
       <span class="input-group-addon bar-style" data-ng-click="vm.fetch()"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <div id="main-info" ng-include="'assets/html/partials/main-info.html'" class="col-md-8"></div>
    <div id="related-results" ng-include="'assets/html/partials/related-results.html'" class="col-md-4 animated bounce related-results"></div>
  </div>
</div>

<div>
  <!-- <input type="string" placeholder="Name of Show" data-ng-model="indexVM.newShow"/> -->
  <button data-ng-click="indexVM.addShow()">Add a Show</button>
</div>

<h2>Your Followed Shows:</h2>
<h3>You are following {{indexVM.shows.length}} shows</h3>
<div>
  <div id="main-info" ng-include="'assets/html/partials/favorite-shows.html'" class="col-md-8"></div>
</div>
