<h2> This is the Index Page</h2>
<h2>Your Followed Shows:</h2>
<h3>You are following {{indexVM.shows.length}} shows</h3>
<h4 data-ng-repeat="show in indexVM.shows">
  <a href="/shows/{{show.name}}">{{show.name}}</a>
</h4>

<!-- <form action="/shows" method="post">
  <input type="text" name="show[name]" placeholder="Name"/>
  <button type="submit">Submit</button>
</form> -->

<div>
  <input type="string" placeholder="Name of Show" data-ng-model="indexVM.newShow"/>
  <button data-ng-click="indexVM.addShow()">Add a Show</button>
</div>
