<!-- <h1>hello</h1> -->
<div ng-if="!details">
  Loading results...
</div>

<div ng-if="details">
  <img ng-src="{{ details.image.medium =='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.image.medium }}" class="thumbnail animated flip movie-poster">

  <span class="span-outer">
    <a href="{{details.url}}" target="_blank">{{ details.name }}</a>
  </span>

  <p><strong>Released on:</strong> {{ details.premiered }} ({{ details.runtime }} min)</p>

  <p class="summary"></p>

  <p class="outer-p">
    <div class="inner-p">
      <span class="label label-primary">Network :</span> {{ details.network.name }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Shows on :</span> {{ details.schedule.days.join(", ") }}
    </div>
    <div class="inner-p">
      <span class="label label-primary">Genre :</span> {{ details.genres.join(", ") }}
    </div>
  </p>

  <p class="outer-p-2">Ratings:<br>
    <strong>TV Maze Rating</strong>: <span class="label label-success">{{ details.rating.average }}</span><br>

  </p>

  <p class="outer-p-3">
    <a href="https://www.youtube.com/results?search_query={{ details.name }}" target="_blank" class="btn btn-default btn-xs btn-info">YouTube!</a>
  </p>
</div>
