<!-- <h1>hello</h1> -->
<!-- <div ng-if="!details">
Loading results...
</div> -->
<div class="col s9">
  <div data-ng-if="details">
    <div class="row">
      <div class="col s4">
          <img data-ng-src="{{ details.image.medium =='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.image.medium }}" >
      </div>
      <div class="col s8">
        <div class="row center-align">
            <h2><a href="{{details.url}}" target="_blank">{{ details.name }}</a></h2>
        </div>
        <div class="row">
          <p class="summary">Based on the bestselling book series A Song of Ice and Fire by George R.R. Martin, this sprawling new HBO drama is set in a world where summers span decades and winters can last a lifetime. From the scheming south and the savage eastern lands, to the frozen north and ancient Wall that protects the realm from the mysterious darkness beyond, the powerful families of the Seven Kingdoms are locked in a battle for the Iron Throne. This is a story of duplicity and treachery, nobility and honor, conquest and triumph. In the "Game of Thrones", you either win or you die.</p>
        </div>
      </div>
    </div>
  </div>
</div>
